<div class="container">
  <div>
    <h1 id="main-title"><%= __('A Place to find interesting Stuff') %></h1>
  </div>
  <div>
    <ul>
      <h4>Click one of these</h4>
      <li><a target="_blank" href="./authors">Authors</a></li>
      <li><a target="_blank" href="./new-articles">New Articles</a></li>
    </ul>
  </div>
  <footer><p><small>Thank you to arXiv for use of its open access interoperability.<small></p></footer>
</div>