<div class="container">
    <a target="_blank" href="./"><-</a>
    <h1>Here are some relevant articles:</h1>
        <% for (let article of articles) { %>
        <div class="row">
            <div class="col"><b><%= article.title %></b></div>
            <div class="col">Published: <%= new Date(article.publishedAt) %></div>
        </div>
    <% } %>
    <% if (articles.length == 0) { %> <p>Querying articles....refresh in 2 seconds</p> <% } %>
</div>